@import url('https://fonts.googleapis.com/css?family=Overpass:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	background-image: url('/img/background@300x-100.jpg');
	background-size: 100% 100%;
}
.top {
	width: 100%;
	height: 200px;
	margin: 0px;
	background-image: url('/img/△\ Backdrop@300x-100.jpg');
	background-attachment: fixed;
	background-position: 78% 78%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.logo {
	width: 40%;
	height: 130px;
	background-image: url('/img/pecawhite@300x.png');
	background-position: center;
	background-size: 612px 216px;
	background-repeat: no-repeat;
}

.main {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.left {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.topofleft {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.bottomofleft {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.squares {
	width: 100%;
	height: 70%;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.square1 {
	width: -100%;
	height: 100%;
}

#some {
	background-image: url('/img/△\ PECA\ Logo\ B@300x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
}
#some2 {
	background-image: url('/img/Yellow\ Dots\ Logo\ B@300x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
}

#some3 {
	background-image: url('/img/Parachute\ Logo\ B@300x-100.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
}

#some4 {
	background-image: url('/img/Artboard\ 19@300x-100.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
}

.que_es {
	padding-top: 30px;
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.titleque {
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.quetext {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.logistica {
	padding-top: 30px;
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.logtitle {
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.logtext {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.right {
	margin-top: 30px;
	width: 50%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.aplicar {
	width: 95%;
	height: 100%;
	background-color: #63b9d3;
	padding: 15px;
}
.aplicartitle {
	font-family: 'Overpass', sans-serif;
}
.aplicartext {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.sponsors {
	width: 90%;
	height: 20%;
}

#myBtn {
	width: 120px;
	height: 50px;
	background-color: #1d5a6d;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Overpass', sans-serif;
	font-size: 22px;
	border: none;
	color: white;
	transition: 0.4s;
}
#myBtn:hover {
	background-color: #113541;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	height: 65%;
	width: 40%;
	margin: auto;
	background-image: url('/img/background@300x-100.jpg');
	background-position: 70% 70%;
	padding: 20px;
	border: 3px solid #888;
	width: 20%;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.signupform {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.dateform {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.formbuttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* The Close Button */
.close,
.submit {
	color: #5f5f5f;
	float: right;
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	border-style: solid;
	border-color: #5f5f5f;
}

.close:hover,
.close:focus,
.submit:hover,
.submit:focus {
	border-color: #000;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
